VITE_API_URL=https://api.fake-rest.refine.dev
VITE_BACKEND_BASE_URL=http://localhost:8000/api

# Auth storage keys
VITE_ACCESS_TOKEN_KEY=accessToken
VITE_REFRESH_TOKEN_KEY=refreshToken

# Cloudinary
VITE_CLOUDINARY_UPLOAD_URL=https://api.cloudinary.com/v1_1/<your-cloud-name>/image/upload
VITE_CLOUDINARY_CLOUD_NAME=<your-cloud-name>
VITE_CLOUDINARY_UPLOAD_PRESET=<your-upload-preset>
